#container {
  display: flex;
  background: #EBEBEB; }

#container1 {
  flex: 1; }

#title {
  height: 3rem;
  background: white; }
  #title h3 {
    line-height: 3rem;
    margin-left: 1rem; }

#form_container {
  background: white;
  margin: 1rem 10rem;
  height: 30rem;
  border-radius: 1rem;
  display: flex; }
  #form_container form {
    width: 70%;
    margin: auto; }
    #form_container form p {
      padding-bottom: 1rem; }
      #form_container form p label {
        display: inline-block;
        width: 20rem;
        font-weight: bold; }
      #form_container form p input[type="submit"] {
        margin-left: 27rem;
        background: none;
        border: 1px solid black;
        padding: .3rem .5rem;
        cursor: pointer; }
