body#index {
  height: 100vh;
  background: url("../asset/image/index_background.png");
  background-size: auto;
  display: flex; }

#index-left {
  flex: .7; }
  #index-left #branding {
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    margin: 1rem;
    width: 10rem;
    height: 3rem;
    display: flex; }
    #index-left #branding img {
      width: 30%;
      -webkit-user-drag: none;
      -webkit-user-select: none; }
    #index-left #branding #index-slogan {
      display: flex;
      flex-direction: column; }
      #index-left #branding #index-slogan h3 {
        color: white;
        text-shadow: 2px 2px 3px black; }
      #index-left #branding #index-slogan h6 {
        color: yellow;
        text-shadow: 2px 2px 5px black;
        font-style: italic; }

#index-right {
  flex: .3;
  background: rgba(81, 79, 133, 0.87);
  box-shadow: -10px 0px 6px rgba(0, 0, 0, 0.54); }
  #index-right #index-container {
    width: 70%;
    margin: auto; }
    #index-right #index-container img {
      width: 20%;
      padding: 1rem;
      margin: 5rem 0 0 6.5rem; }
    #index-right #index-container hr {
      border: 3px solid white; }
    #index-right #index-container form {
      height: 20rem;
      margin: 3rem 0 0 0;
      display: inline-block;
      padding: 0 2rem;
      color: white; }
      #index-right #index-container form label {
        font-size: 20px; }
      #index-right #index-container form input[type="text"], #index-right #index-container form input[type='password'] {
        background: none;
        border: 2px solid white;
        padding: .3rem .6rem;
        width: 100%;
        border-radius: 4px;
        margin-top: .3rem;
        color: white; }
        #index-right #index-container form input[type="text"]:focus, #index-right #index-container form input[type='password']:focus {
          outline: none;
          background: rgba(255, 255, 255, 0.5); }
      #index-right #index-container form input[type="submit"] {
        display: block;
        margin: 1rem auto;
        padding: .3rem;
        width: 50%;
        background: none;
        border: 1px solid white;
        color: white;
        font-weight: bold;
        border-radius: 4px;
        font-size: 18px;
        cursor: pointer;
        transition: all .4s; }
        #index-right #index-container form input[type="submit"]:hover {
          color: black;
          background: white; }

#index-padding {
  padding-bottom: 1rem; }
