#container
	display: flex
	background: #EBEBEB
#container1
	flex: 1
#title
	height: 3rem
	background: white
	h3
		line-height: 3rem
		margin-left: 1rem
#form_container
	background: white
	margin: 1rem 10rem
	height: 30rem
	border-radius: 1rem
	display: flex
	form
		width: 70%
		margin: auto
		p
			padding-bottom: 1rem
			label
				display: inline-block
				width: 20rem
				font-weight: bold
			input[type="submit"]
				margin-left: 27rem
				background: none
				border: 1px solid black
				padding: .3rem .5rem
				cursor: pointer
#container-z
	display: flex
	height: 15rem
#requested
	flex: 1
	background: #3E84C0
	margin: 2rem 5rem
	box-sizing: border-box
	padding: 1rem
	position: relative
	h3
		color: white
		&.number
			position: absolute
			bottom: 1rem
			right: 2rem

#expired
	@extend #requested
	background: #EF6F6C

#chart
	border: 1px solid grey
	width: 70%
	height: 18rem
	margin: auto
	box-sizing: border-box
	#title
		background: #6049AE
		h3
			color: white
#chart-inside
	display: flex
	background: white
	height: calc(15rem - 2px)
	h1
		margin: auto