#header
	background: #515763
	height: 3rem
	display: flex
	a
		display: flex
		text-decoration: none
		img
			width: 14%
			margin-left: 1rem
		#slogan
			box-sizing: border-box
			padding-top: .6rem
		h3
			color: rgba(white, .9)
			font-size: 14px
			text-shadow: 3px 0px 4px rgba(black, .66)
		h6
			font-size: 10px
			font-weight: normal
			color: lighten(yellow, 15%)
			font-style: italic
			text-shadow: 3px 0px 4px rgba(black, .66)
#adminpanel
	display: flex
	position: relative
	flex: 1
	justify-content: flex-end
	img
		padding: 0 1rem
		margin: auto 0
		height: 50%
		&.icon
			border-radius: 50%
			height: 2rem
	ul
		list-style: none
		text-align: center
		flex: .1
		li
			color: white
			font-weight: bold
			line-height: 3rem
			&:hover
				background: lighten(#515763, 5%)
				ul
					display: block
			span
				padding-left: .6rem
				font-size: 10px
			ul
				display: none
				margin: 0
				li
					&:hover
						background: lighten(#515763, 10%)
					a
						text-decoration: none
						color: white
						padding: 0 1rem
						box-sizing: border-box
