doctype html
html
	head
		- var title = "Add Item"
		include _header
	body#admin
		include header
		#container
			include sidebar
			#container1
				#title
					h3 Item
				#form_container
					form(method="post" action!="<?php $_SERVER['PHP_SELF'] ?>")
						p
							label Item Name
							input(type="text" name="name")

						p
							label Category
							select(name="category").
								<?php 
									while($row = mysqli_fetch_assoc($result)){
										echo "<option value='".$row['cid']."'>".$row['cname']."</option>";
									}
								 ?>
						p
							label Unit of measurement
							select(name="measure").
								<?php 
									while($row1 = mysqli_fetch_assoc($result1)){
										echo "<option value='".$row1['mid']."'>".$row1['mname']."</option>";
									}
								 ?>
						p
							label Status
							select(name="status")
								option(value="true") Available
								option(value="false") Unavailable
						p
							input(type="submit" name="add")