doctype html
html
	head
		- var title = "Add Item"
		include _header
	body#admin
		include header
		#container
			include sidebar
			#container1
				#title
					h3 Item
				#form_container
					form(method="post" action!="<?php $_SERVER['PHP_SELF'] ?>")
						p
							label Item Name
							input(type="text" name="name" required)

						p
							label Category
							select(name="category").
								<?php 
									while($row = mysqli_fetch_assoc($result)){
										echo "<option value='".$row['cid']."'>".$row['cname']."</option>";
									}
								 ?>
						p
							label Unit of measurement
							select(name="measure").
								<?php 
									while($row1 = mysqli_fetch_assoc($result1)){
										echo "<option value='".$row1['mid']."'>".$row1['mname']."</option>";
									}
								 ?>
						p
							label Status
							input(type="radio" name="status" id="1" value="1"  checked)
							label.aa(for="1") Available
							input(type="radio" name="status" id="0" value="0")
							label.aa(for="0") Unavailable
						p
							input(type="submit" name="add")