doctype html
html
	head
		- var title = "Add User"
		include _header
	body#admin
		include header
		#container
			include sidebar
			#container1
				#title
					h3 User
				#form_container
					form(method="post" action!="<?php echo $_SERVER['PHP_SELF'] ?>")
						p
							label Full Name
							input(type="text" name="fname")
						p
							label Email
							input(type="email" name="email")
						p
							label Role
							select(name="role")
								option(value="0") Admin
								option(value="1") User
						p
							input(type="submit" name="add")