#header
	a(href="index.php")
		img(src="./asset/image/favicon.svg")
		#slogan
			h3 Inventory
			h6 Secure your database
	#center
	#adminpanel
		img(src="./asset/image/bell.svg")
		img.icon(src="./asset/image/admin.png")
		ul
			li
				|<?php
				|	echo strtoupper($_SESSION['loginUsername']);
				| ?>
				span ▼
				ul
					li: a(href="manage.php") Account
					li: a(href="logout.php") Leave