|<?php 
|	session_start();
| ?>
#header
	a(href="index.php")
		img(src="./asset/image/favicon.svg")
		#slogan
			h3 Inventory
			h6 Secure your database
	#center
	#adminpanel
		img(src="./asset/image/bell.svg")
		img.icon(src="./asset/image/admin.png")
		ul
			li
				|<?php 
				|	echo "hello";
				| ?>
				span ▼
				ul
					li: a(href="#") Account
					li: a(href="index.php?function") Leave