doctype html
html
	head
		- var title = "Inventory System"
		include _header
	body#index
		#index-left
			a(href="admin.php")
				img(src="../asset/image/favicon.svg")
				#index-slogan
					h3 INVENTORY
					h6 Secure Your Database
		#index-right
			#index-container
				img(src="../asset/image/favicon.svg")
				hr
				form(method="post" action="")
					for a in [["Email","text","umemail"],["Password","password","upassword"]]
						#index-padding
							label=a[0]
							input(type=a[1] name=a[2] required)
					input(type='submit')


