doctype html
html
	head
		- var title = "Edit Item"
		include _header
	body#admin
		include userheader
		#container
			include usersidebar
			#container1
				#title
					h3 Requested Item
				#container2
					table
						tr
							for a in ["Item Name","Catergory","Brand","Expire Date","Status","Action"]
								th= a
						for tr in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,1,1,1,1,1,1]
							tr
								for b in [1,2,3,4,5]
									td= b
								td
									img(src="./asset/image/table-edit.svg")
									img(src="./asset/image/x.svg")