doctype html
html
	head
		- var title = "Edit Item"
		include _header
	body#admin
		include userheader
		#container
			include usersidebar
			#container1
				#title
					h3 Requested Item
				#container2
					table
						tr
							for a in ["Item Name","Quantity","Requested Date","Status"]
								th= a
						|<?php 
						|    while($row = mysqli_fetch_assoc($result)){
						|      (($row['status'])? $statusName="Available":$statusName="Unavailable");
						|      echo "<tr><td>".$row['iname']."</td><td>".$row['quantity']." ".$row['mname']."</td><td>".$row['rDate']."</td><td>".$row['rStatus']."</td></tr>";
						|  }
						|?>