doctype html
html
	head
		- var title = "Edit Item"
		include _header
	body#admin
		include header
		#container
			include sidebar
			#container1
				#title
					h3 Edit
				#container2
					#filter
						form(action="itemEdit.php" method="post")
							p
								label Category:
									|<?php 
									|  while($row = mysqli_fetch_assoc($result)){
									|    echo"<label><input type='radio' name='category' value='".$row['cid']."'>".$row['cname']."</label>";
									|}
									|?>

							p
								label Brand:
								select: for b in [1,2,3,4]
									option= b
							p
								label Status:
								label
									input(type="radio" name="status")
									|Available
								label
									input(type="radio" name="status")
									|Unavailable
							input(type="text")
							input(type="submit" name="add" value="Search")
					table
						tr
							for a in ["Item Name","Catergory","Brand","Expire Date","Status","Action"]
								th= a
						for tr in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
							tr
								for b in [1,2,3,4,5]
									td= b
								td
									img(src="./asset/image/table-edit.svg")
									img(src="./asset/image/x.svg")