doctype html
html
	head
		- var title = "Edit Item"
		include _header
	body#admin
		include header
		#container
			include sidebar
			#container1
				#title
					h3 Edit
				#container2
					#filter
						form(action="itemEdit.php" method="post")
							p
								label Category:
								|<?php 
								|	$row = mysqli_fetch_assoc($result);
								|	echo"<label><input type='radio' name='category' checked value='".$row['cid']."'>".$row['cname']."</label>";
								|	while($row = mysqli_fetch_assoc($result)){
								|	echo"<label><input type='radio' name='category' value='".$row['cid']."'>".$row['cname']."</label>";
								|	}
								|?>
							p
								label Status:
								label
									input(type="radio" name="status" checked)
									|Available
								label
									input(type="radio" name="status")
									|Unavailable
							input(type="text")
							input(type="submit" name="add" value="Search")
					table
						tr
							for a in ["Item Name","Catergory","Unit of measurement","Status","Action"]
								th= a
						| <?php 
						|	if(!empty($row2)){
						|	foreach($row2 as $r){
						|	echo "<tr>
						|	<td>$r[0]</td>
						|	<td>$r[1]</td>
						|	<td>$r[2]</td>
						|	<td>$r[3]</td>
						|	<td>
						|	<a href='itemedit2.php?id=$r[4]'><img src='./asset/image/edit.svg'></a>
						|	<a onclick='return confirm(".'"Are you sure you want to delete?"'.")' href='itemedit.php?id=$r[4]'><img src='./asset/image/x.svg'></a>
						|	</td>
						|	</tr>";
						|	}
						|	}else{
						|	echo "<tr><td colspan='5' style='background: #fff'>No result Found</td></tr>";
						|	}
						|?>