#panel
	#profile_pic
		img(src="asset/image/admin.png")
	#infomation
		h3 Admin
		h3: span abc123@gmail.com
		ul
			li
				a(href="#")
					img(src="asset/image/manage.svg")
					| Username
			li
				a(href="managepassword.php")
					img(src="asset/image/password.svg")
					| Password
			li
				a(href="#")
					img(src="asset/image/najib.svg")
					| Profile Picture
			li
				a(href="dashboard.php")
					img(src="asset/image/home-grey	.svg")
					| Back To Dashboard