doctype html
html
	head
		- var title = "Manage Passoword"
		include _header
	body#admin
		#container
			include manageside
			#container-panel
				#title
					h2 Change Password
					#manage-content
						h4 Password
							#manage-panel
								form(method="POST" action!="<?php $_SERVER['PHP_SELF'] ?>")
									p Old Password
									input(type="password" name="oldPw" required)
									p New Password
									input(type="password" name="newPw" required)
									p Confirm New Password
									input(type="password" name="newPw2" required)
									input(type="submit" name="chgPW" value="save")