#panel
	#profile_pic
		img(src="asset/image/admin.png")
	#infomation
		h3 Admin
		h3: span abc123@gmail.com
		ul
			li
				a(href="#")
					img(src="asset/image/manage.svg")
					| Manage Account
			li
				a(href="#")
					img(src="asset/image/password.svg")
					| Change Password
			li
				a(href="#")
					img(src="asset/image/najib.svg")
					| Update Profile Picture
			li
				a(href="#")
					img(src="asset/image/home-grey	.svg")
					| Back To Dashboard