doctype html
html
	head
		- var title = "Admin"
		include _header
	body#admin
		#container
			include manageside
			#container-panel
				#title
					h2 Change Username
					#manage-content
						h4 Username
							#manage-panel
								form
									p Your Name
									input(type="text")
									input(type="submit" value="save")