doctype html
html
	head
		- var title = "Manage Passoword"
		include _header
	body#admin
		#container
			include manageside
			#container-panel
				#title
					h2 Change Password
					#manage-content
						h4 Password
							#manage-panel
								form
									p Old Password
									input(type="password")
									p New Password
									input(type="password")
									p Confirm New Password
									input(type="password")
									input(type="submit" value="save")