doctype html
html
	head
		- var title = "Stock Up Item"
		include _header
	body#admin
		include header
		#container
			include sidebar
			#container1
				#title
					h3 Stock Up
				#container-z
					#form_container
						form(method="post" action!="<?php $_SERVER['PHP_SELF'] ?>")
							p
								label Item Name
								select(name="item").
									<?php 
										foreach($user as $u => $v){
											echo "<option value='".$user[$u][iid]."'>".$user[$u][iname]."</option>";
										}
									?>

							p
								label Quantity
								input(type="number" min="1" name="quantity")
							p
								label Expiry date
								input(type="date" name="exp")
							p
								input(type="submit" name="add")