#header
	a(href="index.php")
		img(src="./asset/image/favicon.svg")
		#slogan
			h3 Inventory
			h6 Secure your database
	#center
	#adminpanel
		img.icon(src="./asset/image/user.png")
		ul
			li User
				span ▼
				ul
					li: a(href="manage.php") Account
					li: a(href="logout.php") Leave