doctype html
html
	head
		- var title = "Edit User"
		include _header
	body#admin
		include header
		#container
			include sidebar
			#container1
				#title
					h3 Edit
				#container2
					#filter
						form(action="userEdit.php" method="post")
							p
								label Role:
								label
									input( type="radio" name="role" value="0" checked) 
									|Admin
								label
									input( type="radio" name="role" value="1") 
									|User
							input(type="text" name="fname")
							input(type="submit" name="searchUser" value="Search")
					table
						tr: for th in["Full Name","Email","Role","Date created","Action"]
							th=th
						|<?php 
						|  if(isset($_POST['searchUser'])){
						|    while($row = mysqli_fetch_assoc($result2)){
						|      (($row['role'])? $roleName="User":$roleName="Admin");
						|      echo "<tr><td>".$row['fname']."</td><td>".$row['email']."</td><td>".$roleName."</td><td>".$row['created']."</td><td><a href='".$_SERVER['REQUEST_URI']."&action=edit&iid=".$row['uid']."'><img src='./asset/image/table-edit.svg' class='editIcon'></a><a href='userEdit.php?id=".$row['uid']."'><img src='./asset/image/x.svg' class='delIcon'></a></td></tr>";
						|  	}
						|  }
						|?>
