#sidebar
	ul
		li
			img(src="./asset/image/navigation.svg")
			p Navigation
		li
			img(src="./asset/image/favicon.svg")
			p Item
		li: a(href="request.php")
			img(src="./asset/image/request.svg")
			p Request
		li: a(href="item.php")
			img(src="./asset/image/requestitem.svg")
			p Request Item
		li: a(href="userhistory.php")
			img(src="./asset/image/history.svg")
			p Item History