doctype html
html
	head
		- var title = "Edit Item"
		include _header
	body#admin
		include header
		#container
			include sidebar
			#container1
				#title
					h3 Edit
				#container2
					#filter
						p
							label Category:
							for a in ["Admin","User"]
								span= a
						input(type="text")
						input(type="submit" value="Search")
					table
						tr
							for a in ["Full Name","Email","Role","Date created","Action"]
								th= a
						for tr in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
							tr
								for b in [1,2,3,4,5]
									td= b